<%- include ("./../../partials/header") %>

<div class="site__header--index">
    <img src="/img/covers/webCover-4.jpg" class="site__header--coverIMG">
    <h1 class="site__header--title">Kunder</h1>
</div>

<p class="view__text--paragraph">Här är en lista på alla registrerade kunder.</p>

<table class="productTable">
    <tr class="productTable__TRs">
        <th class="productTable__tableHeader productTable__tableHeader--id">ID</th>
        <th class="productTable__tableHeader productTable__tableHeader--name">Namn</th>
        <th class="productTable__tableHeader productTable__tableHeader--name">Adress</th>
        <th class="productTable__tableHeader productTable__tableHeader--info">Email</th>
        <th class="productTable__tableHeader productTable__tableHeader--price">Phone</th>
        <th class="productTable__tableHeader productTable__tableHeader--price">Skapa Order</th>
    </tr>
    <% for (const row of res[0]) { %>
        <tr class="productTable__TRs">
            <td class="productTable__TDs productTable__TDs--id"><%= row.id %></td>
            <td class="productTable__TDs productTable__TDs--name"><%= row.name %></td>
            <td class="productTable__TDs productTable__TDs--name"><%= row.adress %></td>
            <td  class="productTable__TDs productTable__TDs--info"><%= row.email %></td>
            <td  class="productTable__TDs productTable__TDs--price"><%= row.phone %></td>
            <td  class="productTable__TDs productTable__TDs--addOrder">
                <div class="productTable__TDs productTable__TDs--action">
                    <form method="post" action="createOrder/<%= row.id %>" class="CRUD__smallBTN">
                        <input type="text" name="id" value="<%= row.id %>" hidden>
                        <input type="submit" value="Skapa order" class="CRUD__smallBTN CRUD__smallBTN--create">
                    </form>
                </div>  
            </td>
        </tr>
    <% }; %>
</table>

<!-- <pre><%= JSON.stringify(res, null, 4) %></pre> -->

<%- include ("./../../partials/footer") %>
