<%- include ("./../../partials/header") %>

<div class="site__header--index">
    <img src="/img/covers/webCover-3.jpg" class="site__header--coverIMG">
    <h1 class="site__header--title">Updatera en produkt</h1>
</div>

<h1 class="view__text--header"></h1>

<p class="view__text--paragraph">Här ska vi updatera en produkt via ett formulär.</p>

<form class="CRUD__form" method="post" action="/eshop/updateProduct">
    <fieldset class="CRUD__form--fieldset">
        <legend>Product details</legend>

        <label for="id" class="CRUD__form--label">Id:</label>
        <input id="id" type="text" name="id" class="CRUD__form--input"  value="<%= res[0].id %>" readonly>

        <label for="name" class="CRUD__form--label">Namn:</label>
        <input id="name" type="text" name="name" class="CRUD__form--input" value="<%= res[0].name %>">
        
        <label for="types" class="CRUD__form--label">Kategori:</label>
        <input id="name" type="text" name="types" class="CRUD__form--input" value="<%= res[0].types %>">

        <label for="info" class="CRUD__form--label">Info:</label>
        <input id="info" type="text" name="info" class="CRUD__form--input CRUD__form--inputInfo"  value="<%= res[0].info %>"></input>

        <label for="price" class="CRUD__form--label">Pris:</label>
        <input id="price" type="number" step="0.01" name="price" class="CRUD__form--input" value="<%= res[0].price %>">

        <input type="submit" name="update" value="Update" class="CRUD__formBTN CRUD__formBTN--update">
    </fieldset>
</form>

<!-- <pre><%= JSON.stringify(res, null, 4) %></pre> -->

<%- include ("./../../partials/footer") %>