<%- include ("./../../partials/header") %>

<div class="site__header--index">
    <img src="/img/covers/webCover-5.jpg" class="site__header--coverIMG">
    <h1 class="site__header--title">Hantera din order</h1>
</div>

<div class="orderView">
    <p class="view__text--paragraph">L채gg produkter till ordern.</p>

    <!-- Table of products -->
    <table class="productTable">
        <tr class="productTable__tableHeader">
            <th class="productTable__tableHeader--id">ID</th>
            <th class="productTable__tableHeader--name">Namn</th>
            <th class="productTable__tableHeader--types">Kategori</th>
            <th class="productTable__tableHeader--info">Information</th>
            <th class="productTable__tableHeader--price">Pris</th>
            <th class="productTable__tableHeader--amount">I lager</th>
            <th class="productTable__tableHeader--items">Antal</th>
            <th class="productTable__tableHeader--addProduct">L채gg till</th>
        </tr>
        <% for (const row of res[0]) { %>
            <tr class="productTable__tableData">
                <td class="productTable__tableData--id">
                    <a href="product/<%= row.id %>"><%= row.id %></a>
                </td>
                <td class="productTable__tableData--name"><%= row.name %></td>
                <td class="productTable__tableData--types"><%= row.types %></td>
                <td  class="productTable__tableData--info"><%= row.info %></td>
                <td  class="productTable__tableData--price"><%= row.price %> kr</td>
                <td  class="productTable__tableData--amount"><%= row.amount %> st</td>
                <td  class="productTable__tableData--items">
                    <form method="post" action="/eshop/<%= order.toString(); %>/addProduct/<%= row.id %>">
                        <input type="number" id="amount" name="amount" min="0" max="<%= row.amount %>" value="0" class="productTable__tableData--itemsInput">
                </td>
                <td  class="productTable__tableData--addProduct">
                        <input type="hidden" id="product" name="product" value="<%= row.id %>" class="productTable__tableData--addProducts--itemsInput">
                        <input type="submit" value="l채gg till" class="CRUD__smallBTN CRUD__smallBTN--create">
                    </form>
                </td>
            </tr>
        <% }; %>
    </table>
</div>
<form method="post" action="placeOrder" class="orders__selectProducts">
    <input type="hidden" name="order" value="<%= order.toString(); %>" class="orders__selectProducts--btn">
    <input type="submit" value="Best채ll" class="orders__selectProducts--btn">
</form>

<!-- <pre><%= JSON.stringify(res, null, 4) %></pre> -->

<%- include ("./../../partials/footer") %>
 