<%- include ("./../../partials/header") %>

<div class="site__header--index">
    <img src="/img/covers/webCover-11.jpg" class="site__header--coverIMG">
    <h1 class="site__header--title">Faktura</h1>
</div>

<div class="orderView">
    <h4 class="orderView--subHeader">Kund:</h4>
        <% for (const cust of customer[0]) { %>
            <div class="orderView__customer">
                <div class="orderView__customer--label">
                    <p class="orderView__customer--label">Namn: </p>
                    <p class="orderView__customer--label">Adress: </p>
                    <p class="orderView__customer--label">Postnummer, ort: </p>
                    <p class="orderView__customer--label">Land: </p>
                    <p class="orderView__customer--label">E-Mail: </p>
                    <p class="orderView__customer--label">Födelsedag: </p>
                </div>
                <div class="orderView__customer--details">
                    <p class="orderView__customer--firstname"><%= cust.firstname %> <%= cust.lastname %></p>
                    <p class="orderView__customer--lastname"></p>
                    <p class="orderView__customer--street"><%= cust.street %> <%= cust.number %></p>
                    <p class="orderView__customer--code"><%= cust.post_code %> <%= cust.city %></p>
                    <p class="orderView__customer--country"><%= cust.country %></p>
                    <p class="orderView__customer--email"><%= cust.email %> </p>
                    <p class="orderView__customer--birthday"><%= cust.birthday.getFullYear() %>-<%= cust.birthday.getMonth()%>-<%= cust.birthday.getDate() %></p>
                </div>
            </div>
        <% }; %>

    <h4 class="orderView--subHeader">Order:</h4>
        <% for (const order of res) { %>
            <div class="orderView__details">
                <div class="orderView__details--label">
                    <p class="orderView__details--label">Ordernummer: </p>
                    <p class="orderView__details--label">Kundnummer: </p>
                    <p class="orderView__details--label">Fakturanummer: </p>
                    <p class="orderView__details--label">Skapad: </p>
                    <p class="orderView__details--label">Antal orderrader: </p>
                    <p class="orderView__details--label">Status: </p>
                    <p class="orderView__details--label">Betald: </p>
                    <p class="orderView__details--label">Skickad: </p>
                </div>
                <div class="orderView__details--details">
                    <p class="orderView__details--id"><%= order.id %> </p>
                    <p class="orderView__details--customer"><%= order.customer %> </p>
                    <p class="orderView__details--customer"><%= invoice[0][0].invoice %></p>
                    <p class="orderView__details--created"><%=order.created.getFullYear()+"-"+order.created.getMonth()+"-"+order.created.getDate()%></p>
                    <p class="orderView__details--rows"><%= order.rows %></p>
                    <p class="orderView__details--status"><%= order.status %></p>
                    <p class="orderView__details--status"><%= invoice[0][0].payment_status %></p>
                </div>
            </div>
        <% }; %>

    <!-- Table of products -->
    <table class="orderView__table">
        <tr class="orderView__tableHeader">
            <th class="orderView__tableHeader--id">ID</th>
            <th class="orderView__tableHeader--name">Namn</th>
            <th class="orderView__tableHeader--product">Produkt</th>
            <th class="orderView__tableHeader--info">Information</th>
            <th class="orderView__tableHeader--position">Lagerplats</th>
            <th class="orderView__tableHeader--amount">Antal</th>
            <th class="orderView__tableHeader--stored">I lager</th>
            <th class="orderView__tableHeader--stored">Pris</th>
        </tr>

        <% let totalPrice = 0; %>
        <% for (const row of picklist) { %>
            <tr class="orderView__tableData">
                <td class="orderView__tableData--id">
                    <a href="product/<%= row.id %>"><%= row.id %></a>
                </td>
                <td class="orderView__tableData--name"><%= row.name %></td>
                <td class="orderView__tableData--product"><%= row.product %></td>
                <td  class="orderView__tableData--info"><%= row.info %></td>
                <td  class="orderView__tableData--position"><%= row.position %></td>
                <td  class="orderView__tableData--amount"><%= row.amount %> st</td>
                <td  class="orderView__tableData--stored"><%= row.stored %> st</td>
                <td  class="orderView__tableData--stored"><%= row.price %> kr</td>
            </tr>

        <% totalPrice += row.price %>

        <% console.log("totalPrice: ", totalPrice); %>
        <% }; %>
    </table>
    <div class="productTable__tableFooter--container">
        <p class="productTable__tableFooter--label">pris totalt:</td>
        <p class="productTable__tableFooter--price"><%= totalPrice %> kr </td>
    </div>
</div>

<!-- <p>Här är CUSTOMER:</p> -->
<!-- <pre><%= JSON.stringify(customer, null, 4) %></pre> -->
<!-- <p>Här är PICKLIST:</p> -->
<!-- <pre><%= JSON.stringify(picklist, null, 4) %></pre> -->
<!-- <p>Här är ORDER:</p> -->
<!-- <pre><%= JSON.stringify(res, null, 4) %></pre> -->
<!-- <pre><%= JSON.stringify(invoice, null, 4) %></pre> -->

<%- include ("./../../partials/footer") %>
