<%- include ("./../../partials/header") %>

<div class="site__header--index">
    <img src="/img/covers/webCover-11.jpg" class="site__header--coverIMG">
    <h1 class="site__header--title">Order</h1>
</div>

<div class="orderView">
<h4 class="orderView--subHeader">Kund:</h4>
    <% for (const cust of customer[0]) { %>
        <div class="orderView__customer">
            <div class="orderView__customer--label">
                <p class="orderView__customer--label">Förnamn: </p>
                <p class="orderView__customer--label">Efternamn: </p>
                <p class="orderView__customer--label">Adress: </p>
                <p class="orderView__customer--label">Postnummer, ort: </p>
                <p class="orderView__customer--label">Land: </p>
                <p class="orderView__customer--label">E-Mail: </p>
                <p class="orderView__customer--label">Födelsedag: </p>
            </div>
            <div class="orderView__customer--details">
                <p class="orderView__customer--firstname"><%= cust.firstname %></p>
                <p class="orderView__customer--lastname"><%= cust.lastname %></p>
                <p class="orderView__customer--street"><%= cust.street %> <%= cust.number %></p>
                <p class="orderView__customer--code"><%= cust.post_code %> <%= cust.city %></p>
                <p class="orderView__customer--country"><%= cust.country %></p>
                <p class="orderView__customer--email"><%= cust.email %> </p>
                <p class="orderView__customer--birthday"><%= cust.birthday.getFullYear() %>-<%= cust.birthday.getMonth()%>-<%= cust.birthday.getDate() %></p>
            </div>
        </div>
    <% }; %>

<h4 class="orderView--subHeader">Order:</h4>
    <% for (const order of res) { %>
        <div class="orderView__details">
            <div class="orderView__details--label">
                <p class="orderView__details--label">Ordernummer: </p>
                <p class="orderView__details--label">Kund: </p>
                <p class="orderView__details--label">Kundnummer: </p>
                <p class="orderView__details--label">Antal orderrader: </p>
                <p class="orderView__details--label">Skapad: </p>
                <p class="orderView__details--label">Status: </p>
                <p class="orderView__details--label">Plockad: </p>
            </div>
            <div class="orderView__details--details">
                <p class="orderView__details--id"><%= order.id %></p>
                <p class="orderView__details--customer"><%= order.name %></p>
                <p class="orderView__details--customer"><%= order.customer %></p>
                <p class="orderView__details--rows"><%= order.rows %></p>
                <p class="orderView__details--created">
                <%= order.created.getFullYear()+"-"+order.created.getMonth()+"-"+order.created.getDate() %></p>
                <p class="orderView__details--status"><%= order.status %></p>
                <p class="orderView__details--created">
                    <%if (order.picked_date === null ) { %>
                        <%= order.picked %>
                    <% } else { %>
                    <%= order.picked_date.toString().substr(0, 25) %>
                    
                <% } %></p>
            </div>
        </div>
    <% }; %>

<h4 class="orderView--subHeader">Innehåll: </h4>

    <table class="orderView__table">
        <tr class="orderView__tableHeader">
            <th class="orderView__tableHeader orderView__tableHeader--index">Index</th>
            <th class="orderView__tableHeader orderView__tableHeader--productID">Produktnr.</th>
            <th class="orderView__tableHeader orderView__tableHeader--name">Produktnamn</th>
            <th class="orderView__tableHeader orderView__tableHeader--info">Information</th>
            <th class="orderView__tableHeader orderView__tableHeader--amount">Antal</th>
        </tr>
        <% for (const row of picklist) { %>
            <tr class="orderView__table--row">
                <td class="orderView__tableData orderView__tableData--id"><%= row.index %></td>
                <td class="orderView__tableData orderView__tableData--productID"><%= row.product %></td>
                <td class="orderView__tableData orderView__tableData--name"><%= row.name %></td>
                <td class="orderView__tableData orderView__tableData--info"><%= row.info %></td>
                <td class="orderView__tableData orderView__tableData--amount"><%= row.amount %></td>
            </tr>
        <% }; %>
    </table>
</div>

<nav class="navigation__orderView">
    <form method="post" action="./<%= res[0].id %>/picklist" class="navigation__orderView--order">
        <input type="hidden" name="order" value="<%= res[0].id %>">
        <input type="submit" class="navigation__orderView--orderLink logNavigation__link" value="Plocklista">
    </form>
    <form method="post" action="invoice" class="navigation__orderView--order">
        <input type="hidden" name="order" value="<%= res[0].id %>">
        <input type="submit" class="navigation__orderView--orderLink logNavigation__link" value="Faktura">
    </form>
    <form method="post" action="shipOrder" class="navigation__orderView--order">
        <input type="hidden" name="order" value="<%= res[0].id %>">
        <input type="submit" class="navigation__orderView--orderLink logNavigation__link" value="Skicka order">
    </form>
</nav>

<!-- <p>Här är RES: </p> -->
<!-- <pre><%= JSON.stringify(res, null, 4) %></pre> -->
<!-- <p>Här är CUSTOMER:</p> -->
<!-- <pre><%= JSON.stringify(customer, null, 4) %></pre> -->
<!-- <p>Här är PICKLIST:</p> -->
<!-- <pre><%= JSON.stringify(picklist, null, 4) %></pre> -->

<%- include ("./../../partials/footer") %>
