<%- include ("./../../partials/header") %>

<div class="site__header--index">
    <img src="/img/covers/webCover-5.jpg" class="site__header--coverIMG">
    <h1 class="site__header--title">Hantera din order</h1>
</div>

<p class="view__text--paragraph">Lägg produkter till ordern.</p>

<!-- Search form for products -->
<!-- <form method="post" action="/eshop/orders-selectProducts/:id" class="produkts__searchForm">
    <label for="search" class="produkts__searchForm--label">Sök produkter</label>
    <input type="text" name="search" class="produkts__searchForm--input"/>
    <input type="submit" value="Sök" class="produkts__searchForm--BTN">
</form> -->

<!-- Table of products -->
<table class="productTable">
    <tr class="productTable__TRs">
        <th class="productTable__tableHeader productTable__tableHeader--id">Prod.nr.</th>
        <th class="productTable__tableHeader productTable__tableHeader--name">Namn</th>
        <th class="productTable__tableHeader productTable__tableHeader--name">Kategori</th>
        <th class="productTable__tableHeader productTable__tableHeader--info">Information</th>
        <th class="productTable__tableHeader productTable__tableHeader--price">Pris</th>
        <th class="productTable__tableHeader productTable__tableHeader--price">Antal</th>
        <th class="productTable__tableHeader productTable__tableHeader--action">Ändra</th>
    </tr>
    <% for (const row of res[0]) { %>
        <tr class="productTable__TRs">
            <td class="productTable__TDs productTable__TDs--id">
                <a href="product/<%= row.id %>"><%= row.id %></a>
            </td>
            <td class="productTable__TDs productTable__TDs--name"><%= row.name %></td>
            <td class="productTable__TDs productTable__TDs--name"><%= row.types %></td>
            <td  class="productTable__TDs productTable__TDs--info"><%= row.info %></td>
            <td  class="productTable__TDs productTable__TDs--price"><%= row.price %> kr</td>
            <td  class="productTable__TDs productTable__TDs--price"><%= row.amount %> st</td>
            <td  class="productTable__TDs">
                <div class="productTable__TDs productTable__TDs--action">
                    <a href="updateProduct/<%= row.id %>" class="CRUD__smallBTN CRUD__smallBTN--create">Lägg till</a>
                </div>
            </td>
        </tr>
    <% }; %>
</table>

<form method="post" action="completeOrder/<%= row.order %>" class="CRUD__smallBTN">
    <input type="text" name="id" value="<%= row.order %>" hidden>
    <input type="submit" value="Skapa order" class="CRUD__smallBTN CRUD__smallBTN--create">
</form>

<!-- Check your RowDataPackages -->
<pre><%= JSON.stringify(res, null, 4) %></pre>

<%- include ("./../../partials/footer") %>
