<%- include ("./../../partials/header") %>


<div class="site__header--index">
    <img src="/img/covers/webCover-11.jpg" class="site__header--coverIMG">
    <h1 class="site__header--title">Ordrar</h1>
</div>

<!-- <p class="view__text--paragraph"></p> -->

<table class="orderTable">
    <tr class="orderTable__tableHeader">
        <th class="orderTable__tableHeader--id">Order</th>
        <th class="orderTable__tableHeader--customer">Kund</th>
        <th class="orderTable__tableHeader--name">Namn</th>
        <th class="orderTable__tableHeader--rows">Orderrader</th>
        <th class="orderTable__tableHeader--created">Datum</th>
        <th class="orderTable__tableHeader--status">Status</th>
        <th class="orderTable__tableHeader--action">Ändra</th>
    </tr>
    <% for (const row of res[0]) { %>
        <tr class="orderTable__tableData">
            <td class="orderTable__tableData--id"><%= row.id %></td>
            <td class="orderTable__tableData--customer"><%= row.customer %></td>
            <td class="orderTable__tableData--name"><%= row.name %></td>
            <td class="orderTable__tableData--rows"><%= row.rows %></td>
            <td  class="orderTable__tableData--created"><%= row.created %></td>
            <td  class="orderTable__tableData--status"><%= row.status %></td>
            <td  class="orderTable__tableData--action">
                <div class="orderTable__tableData--actionContainer">
                    <a href="order/<%= row.id %>" class="CRUD__smallBTN CRUD__smallBTN--create">Översikt</a>
                    <a href="orders-selectProducts/<%= row.id %>" class="CRUD__smallBTN CRUD__smallBTN--link">Hantera</a>
                    <a href="deleteOrder/<%= row.id %>" class="CRUD__smallBTN CRUD__smallBTN--delete">Radera</a>
                </div>
            </td>
        </tr>
    <% }; %>
</table>

<!-- <pre><%= JSON.stringify(res, null, 4) %></pre> -->

<%- include ("./../../partials/footer") %>
