<%- include ("./../../partials/header") %>


<div class="site__header--index">
    <img src="/img/covers/webCover-11.jpg" class="site__header--coverIMG">
    <h1 class="site__header--title">Ordrar</h1>
</div>

<!-- <p class="view__text--paragraph"></p> -->

<table class="productTable">
    <tr class="productTable__TRs">
        <th class="productTable__tableHeader productTable__tableHeader--id">Order</th>
        <th class="productTable__tableHeader productTable__tableHeader--customerID">Kund</th>
        <th class="productTable__tableHeader productTable__tableHeader--name">Namn</th>
        <th class="productTable__tableHeader productTable__tableHeader--pickingL">Plocklista</th>
        <th class="productTable__tableHeader productTable__tableHeader--pickingL">Orderrader</th>
        <th class="productTable__tableHeader productTable__tableHeader--date">Datum</th>
        <th class="productTable__tableHeader productTable__tableHeader--status">Status</th>
        <th class="productTable__tableHeader productTable__tableHeader--action">Ändra</th>
    </tr>
    <% for (const row of res[0]) { %>
        <tr class="productTable__TRs">
            <td class="productTable__TDs productTable__TDs--id"><%= row.id %></td>
            <td class="productTable__TDs productTable__TDs--customerID"><%= row.customer %></td>
            <td class="productTable__TDs productTable__TDs--name"><%= row.name %></td>
            <td class="productTable__TDs productTable__TDs--pickingL"><%= row.picking_list %></td>
            <td class="productTable__TDs productTable__TDs--pickingL"><%= row.rows %></td>
            <td  class="productTable__TDs productTable__TDs--date"><%= row.date %></td>
            <td  class="productTable__TDs productTable__TDs--status"><%= row.status %></td>
            <td  class="productTable__TDs productTable__TDs--action">
                <div class="productTable__TDs productTable__TDs--action">
                    <a href="orders-selectProducts/<%= row.id %>" class="CRUD__smallBTN CRUD__smallBTN--link">Hantera</a>
                    <a href="deleteOrder/<%= row.id %>" class="CRUD__smallBTN CRUD__smallBTN--delete">Radera</a>
                </div>
            </td>
        </tr>
    <% }; %>
</table>

<!-- <pre><%= JSON.stringify(res, null, 4) %></pre> -->

<%- include ("./../../partials/footer") %>
