<%- include ("./../../partials/header") %>


<!-- <pre><%= JSON.stringify(res, null, 4) %></pre> -->

<div class="site__header--index">
    <img src="/img/covers/webCover-13.jpg" class="site__header--coverIMG">
    <h1 class="site__header--title">Produktkategorier</h1>
</div>

<p class="view__text--paragraph">Här finner ni alla registrerade produktkategorier.</p>

<div id="productsGrid" class="products">

    <% for (const row of res) { %>
        <div class="products__container">
            <img src="" alt="" class="products__container__image">
            <div class="products__container__info">
                <p class="products__container__info--category"><%= row.type %></p>
                <p class="products__container__info--products">Antal produkter <%= row.products %>st</p>

            </div>
            <div class="products__container__btn">
                <a href="productCategory/<%= row.type %>" class="products__container__info--btn">Se innehåll</a>
            </div>
        </div>
    <% }; %>
</div>

<pre><%= JSON.stringify(res, null, 4) %></pre>

<%- include ("./../../partials/footer") %>
